---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">عنّي</h1>
		<p>
			أهلًا أنا مبتدئ في (فضاء) آسترو.
		</p>
		<div class="flex justify-center">
			<Image src={aboutImg} alt="A cartoon cactus looking at 'Astro.build' logo"
			/>
		</div>
		<p>هنا بعض التقنيات التي بُنِيتُ بها:</p>
		<ul class="list-disc list-inside">
			<li>أنا موقع ثابت</li>
			<li>أنا متجاوب مع مختلف المقاسات</li>
			<li>لدي نمط مضيء وآخر مظلم</li>
			<li>أنا سهل التعديل وإضافة المحتوى</li>
			<li>أدعم مكتبة (Tailwind CSS)</li>
		</ul>
		<p>
			أنشئ نسخة من
			<a
				class="inline-block cactus-link"
				href="https://github.com/X7md/astro-theme-cactus-rtl"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				مستودعي
			</a> إن أعجبتُك!
		</p>
	</div>
</PageLayout>
